$hover-color: #333333;
$link-color: #d9d9d9;
$title-color: #999999;
$registration-color: #00ff00;
$border-color: #EEEEEE;
$box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);

@mixin borderSettings($appearance, $thickness, $color) {
  border: $appearance;
  border-width: $thickness;
  border-color: $color;
}

// nest all inside larger element 
.container {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.2; 
  a {
    text-decoration: none;
    color: $link-color;
    &:hover { color: $hover-color; }
  }
  .header {
  width: 75%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
  @media (max-width: 992px) {
    width: 85%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
    .header__link {
      align-self: center;
    }
    @include borderSettings(solid, 1px, $border-color);
  }
  .jumbotron {
    width: 75%;
    margin: 0 auto;
    @media (max-width: 992px) {
      width: 100%;
    }
    .jumbotron__img {
      width: 100%;
    }
  }
  .content {
    width: 75%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
    } 
      .post {
        box-sizing: border-box;
        padding: 10px;
        margin-top: 10px;
        box-shadow: $box-shadow;
        width: 70%;
        height: 100%;
        word-wrap: break-word;
        .author {
          margin: 0;
        }
        .response {
          position: absolute; 
          right: 0;
          bottom: 0;
        }
        @media (max-width: 992px) {
          width: 80%;
          margin: 0 auto;
        } 
        @media (max-width: 768px) {
          width: 100%;
        } 
    }
  }
  
}
